<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Upload Your Resume</title>
</head>
<body>
    <h1>Welcome to cover letter Generator. Am glad to help you today.</h1>
    <h2>Upload Your Resume</h2>
    <br>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <hr>
    <form method="post" action="{{ url_for('upload_resume') }}" enctype="multipart/form-data">
      
        <input type="file" name="resume" accept=".pdf">
        <br>
        <button type="submit">Upload Resume</button>
    </form>
</body>
</html>
